.countdown {
    display: flex;
    justify-content: space-evenly;
}

.countdown .ctn {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    text-align: center;    
}

.ctn span {
    font-family: "Cardo", Sans-serif;
    font-size: 20px;
    display: block;
}

.serenity .ctn {
    font-family: 'Alex Brush';
    font-size: 70px;
    text-align: center;
    color: #fff !important;
    letter-spacing: 0.5px;
}


@media only screen and (max-width: 600px) {
    .serenity .ctn {
        font-size: 40px;
    }
}


